/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
   &kp GRAVE   	 &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp SEMI &kp LBKT
   &kp LG(ENTER) &kp A &kp R &kp S &kp T &kp G   &kp M &kp N  &kp E     &kp I   &kp O    &kp RBKT
   &kp ESC 			 &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &kp APOS
   &mt LGUI TAB  &mt LCTL HOME &mt RSHIFT SPACE  &mt LCTL BSPC &mt LALT END &to 1
                        >;
                };
                num_layer {
                        bindings = <
   &none   &none &none &none &none &none   &none &kp 7 &kp 8 &kp 9 &none &kp MINUS
   &kp TAB &kp LSFT &kp LALT &kp LGUI &kp LCTL &none   &none &kp 4 &kp 5 &kp 6 &none &kp EQUAL
   &none   &none &none &none &none &none   &kp 0 &kp 1 &kp 2 &kp 3 &none &kp BSLH
    &to 0 &mt LCTL HOME &mt RSHIFT SPACE   &mt LCTL BSPC &mt LALT END &to 2
                        >;
                };
								move_layer {
                        bindings = <
   &none   &none &kp C_PREV &kp C_PP &kp C_NEXT &kp C_VOL_UP     &none &none &none &none &none &none
   &kp TAB &kp LSFT &kp LALT      &kp LGUI    &kp LCTL      &kp C_MUTE       &none &none &none &none &none &none
   &none   &none &none      &none    &none      &kp C_VOL_DN	   &none &none &none &none &none &none
                          &to 0 &mt LCTL HOME &mt RSHIFT SPACE   &mt LCTL BSPC &mt LALT END &to 3
                        >;
                };
                none {
                        bindings = <
   &none &none &none &none &none &none          &none &none &none &none &none &none
   &none &none &none &none &none &none          &none &none &none &none &none &none
   &none &none &none &none &none &none          &none &none &none &none &none &none
  &to 0 &mt LCTL HOME &mt RSHIFT SPACE   &mt LCTL BSPC &mt LALT END &to 3
                        >;
                };
        };
};
